/* CSS declarations go here */

html, body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

.flex-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.dotcontainer {
	flex: 1;

}

#drop-canvas {
	min-height: 100vh;

	background: -moz-linear-gradient(top, #77abef 0%, #00e3fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77abef), color-stop(100%,#00e3fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #77abef 0%,#00e3fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #77abef 0%,#00e3fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #77abef 0%,#00e3fc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #77abef 0%,#00e3fc 100%); /* W3C */
}

#quiz-container {
	min-height: 100vh;
}

#quiz-container.step-1 {
	background: #ffaf4b;
	background: -moz-linear-gradient(top, #ffaf4b 0%, #ef09c1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ef09c1));
	background: -webkit-linear-gradient(top, #ffaf4b 0%,#ef09c1 100%);
	background: -o-linear-gradient(top, #ffaf4b 0%,#ef09c1 100%);
	background: -ms-linear-gradient(top, #ffaf4b 0%,#ef09c1 100%);
	background: linear-gradient(to bottom, #ffaf4b 0%,#ef09c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ef09c1',GradientType=0 );
}

#quiz-container.step-2 {
	background-color: green;
}

#quiz-container.step-3 {
	background-color: orange;
}

#quiz-container.step-DONE {
	background-color: blue;
}

.point {
	position: fixed;
	font-size: 0.7em;
}

.explosion {
	position: fixed;
	margin-top: -30px;
	margin-left: -30px;
	width: 60px;
	height: 60px;
}

.step {
	display: none;
}

.step.initial-step {
	display: block;
}

.step-inner {
	display: flex;
	flex-direction: column;
}

.question {
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: center;
}

#quiz-container .step button {
	border: 2px solid purple;
	background-color: transparent;
	width: 200px;
	height: 200px;
	color: purple;
	display: inline-block;
	margin: 20px;
}

